subflow
[{"id":"c2257952.d93408","type":"subflow","name":"Reolink Cam","info":"![Logo](https://home-cdn.reolink.us/wp-content/uploads/2017/02/reolink-logo.png?sv=1603179488)\n\n# **Reolink Camera**\n\n---\n## **Befehle**:\n\n---\n### Power Led:\n`msg.topic = SetPowerLed`\n\n`msg.payload = boolean true/false`\n\n---\n\n### Audio Alarm:\n`msg.topic = SetAudioAlarm`\n\n`msg.payload = boolean true/false`\n\n---\n\n### Reboot:\n`msg.topic = Reboot`\n\n`msg.payload = boolean true/false`\n\n---\n\n### Zoom:\n`msg.topic = StartZoom`\n\n`msg.payload = 0-32`\n\n---\n\n### Infrarot Lights:\n`msg.topic = SetIrLights`\n\n`msg.payload = boolean true/false`\n\n---\n\n### Name ändern:\n`msg.topic = SetOsdName`\n\n`msg.payload = string \"Text\"`\n\n---\n\n### PTZ Steuerung:\n`msg.topic = SetPTZ`\n\n`msg.payload = string \"Left\"` oder `\"Right\"` oder `\"Up\"` oder `\"Down\"` oder `\"LeftUp\"` oder `\"LeftDown\"` oder `\"RightUp\"` oder `\"RightDown\"`\n\n---\n\n### Bild Drehen:\n`msg.topic = SetRotation`\n\n`msg.payload = boolean true/false`\n\n---\n\n### Wasserzeichen:\n`msg.topic = SetWatermark`\n\n`msg.payload = boolean true/false`\n\n---\n\n### Bild Helligkeit:\n`msg.topic = SetImageBright`\n\n`msg.payload = 0-100`\n\n---\n\n### Bild Contrast:\n`msg.topic = SetImageContrast`\n\n`msg.payload = 0-100`\n\n---\n\n### Bild HUE:\n`msg.topic = SetImageHue`\n\n`msg.payload = 0-100`\n\n---\n\n### Bild Sättigung:\n`msg.topic = SetImageSaturation`\n\n`msg.payload = 0-100`\n\n---\n\n### Bild Schärfe:\n`msg.topic = SetImageSharpen`\n\n`msg.payload = 0-100`\n\n---\n\n### Zeit anzeigen:\n`msg.topic = SetOsdTimeEnable`\n\n`msg.payload = boolean true/false`\n\n---\n\n### Zeit anzeigen:\n`msg.topic = SetOsdNameEnable`\n\n`msg.payload = boolean true/false`\n\n---\n\n### Motion Detection:\n`msg.topic = SetMotionSensitivity`\n\n`msg.payload = 1-50`\n\n---\n\n### FTP Enable:\n`msg.topic = SetFtpEnable`\n\n`msg.payload = boolean true/false`\n\n---","category":"Camera","in":[{"x":60,"y":1020,"wires":[{"id":"ed33414b.0661e"},{"id":"3350f47a.cbf3fc"}]}],"out":[{"x":2520,"y":780,"wires":[{"id":"8cf137e8.f01038","port":0}]},{"x":2520,"y":860,"wires":[{"id":"c0676b13.a23eb8","port":0}]},{"x":2520,"y":940,"wires":[{"id":"5f7a004.c0ae7","port":0}]},{"x":2520,"y":1020,"wires":[{"id":"b87d6a16.6aaad8","port":0}]},{"x":2660,"y":1120,"wires":[{"id":"8e4b2c90.7b2c5","port":1}]},{"x":2520,"y":1180,"wires":[{"id":"c85295a.ed16368","port":0}]},{"x":2320,"y":1480,"wires":[{"id":"cc667d6e.ab354","port":0},{"id":"335815d9.50986a","port":0}]},{"x":2320,"y":1560,"wires":[{"id":"83724e69.9050e","port":0},{"id":"bf2896d8.0a3298","port":0}]},{"x":2320,"y":1640,"wires":[{"id":"b531b1c5.b51e9","port":0},{"id":"ba279daa.336ec","port":0}]},{"x":2320,"y":1720,"wires":[{"id":"ba77eabb.4dc318","port":0},{"id":"c3aa48a5.c150c8","port":0}]},{"x":2320,"y":1800,"wires":[{"id":"56f0ab96.3beee4","port":0},{"id":"ffcefe4c.9c493","port":0}]},{"x":2520,"y":1340,"wires":[{"id":"48abe552.cbe67c","port":0}]},{"x":2520,"y":1260,"wires":[{"id":"54ae5b3a.8bdad4","port":0}]},{"x":2520,"y":700,"wires":[{"id":"b0165686.52e628","port":0}]},{"x":2320,"y":1920,"wires":[{"id":"1ec51ad9.154be5","port":0},{"id":"75c59e1.8ccc06","port":0}]},{"x":2640,"y":2140,"wires":[{"id":"1c27b913.777187","port":0},{"id":"ad1378e4.c37e58","port":0},{"id":"9b33265b.5a3248","port":0},{"id":"ce795e45.e51b7","port":0}]},{"x":2300,"y":2260,"wires":[{"id":"b93bd22a.5855f","port":0},{"id":"677c71ca.38b34","port":0}]},{"x":2640,"y":2380,"wires":[{"id":"b07feef5.acac8","port":0}]}],"env":[{"name":"","type":"str","value":"Version","ui":{"label":{"en-US":"Version 1.0.1"},"type":"none"}},{"name":"IP","type":"str","value":"192.168.178.1","ui":{"icon":"font-awesome/fa-globe","label":{"en-US":"IP Adresse"},"type":"input","opts":{"types":["str"]}}},{"name":"PATH","type":"str","value":"/media/usb1/Reolink/","ui":{"icon":"font-awesome/fa-code-fork","label":{"en-US":"Datei Pfad"},"type":"hide"}},{"name":"","type":"str","value":"leer","ui":{"type":"none"}},{"name":"USER","type":"str","value":"","ui":{"icon":"font-awesome/fa-user-circle","label":{"en-US":"User Name"},"type":"input","opts":{"types":["str"]}}},{"name":"PASS","type":"str","value":"","ui":{"icon":"font-awesome/fa-lock","label":{"en-US":"Passwort"},"type":"input","opts":{"types":["str"]}}},{"name":"","type":"str","value":"leer","ui":{"type":"none"}},{"name":"","type":"str","value":"text","ui":{"icon":"font-awesome/fa-info-circle","label":{"en-US":"Pan & Tilt fähige Camera?"},"type":"none"}},{"name":"PTZ","type":"bool","value":"true","ui":{"icon":"font-awesome/fa-arrows-alt","label":{"en-US":"PTZ"},"type":"checkbox"}},{"name":"","type":"str","value":"text","ui":{"icon":"font-awesome/fa-info-circle","label":{"en-US":"Pan & Tilt Schrittgöße in Millisekunden"},"type":"none"}},{"name":"PTZ_DELAY","type":"num","value":"500","ui":{"icon":"font-awesome/fa-arrows","label":{"en-US":"PTZ Schrittgröße"},"type":"spinner","opts":{"min":50,"max":1000}}},{"name":"","type":"str","value":"leer","ui":{"type":"none"}},{"name":"","type":"str","value":"text","ui":{"label":{"en-US":"Pollintervall zur Abfrage"},"type":"none"}},{"name":"POLL","type":"str","value":"0","ui":{"icon":"font-awesome/fa-refresh","label":{"en-US":"Polling"},"type":"select","opts":{"opts":[{"l":{"en-US":"deaktiv"},"v":"0"},{"l":{"en-US":"10 Sekunden"},"v":"10"},{"l":{"en-US":"20 Sekunden"},"v":"20"},{"l":{"en-US":"30 Sekunden"},"v":"30"},{"l":{"en-US":"60 Sekunden"},"v":"60"},{"l":{"en-US":"120 Sekunden"},"v":"120"}]}}},{"name":"","type":"str","value":"leer","ui":{"type":"none"}},{"name":"DEBUG","type":"bool","value":"false","ui":{"icon":"font-awesome/fa-bug","label":{"en-US":"Debug"},"type":"checkbox"}}],"color":"#2572E5","inputLabels":["Set Input"],"outputLabels":["Rotation","Audio Alarm","Power Led","IR Light","Name","OSD Wasserzeichen enable","bright","contrast","hue","saturation","sharpen","OSD Time enable","OSD Name enable","ONLINE","Zoom","Motion enable","Motion sensitivity","FTP enable"],"icon":"font-awesome/fa-camera","status":{"x":140,"y":360,"wires":[{"id":"1cae14ae.13cd8b","port":0}]}},{"id":"c2ddbea2.5c97","type":"http request","z":"c2257952.d93408","name":"","method":"POST","ret":"obj","paytoqs":"query","url":"http://192.168.178.34/api.cgi?/api.cgi?cmd=PtzCtrl&user=HomeMatic&password=27081988","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":2900,"wires":[["8e6af73e.4891c8"]]},{"id":"d25c3f8f.dcced","type":"inject","z":"c2257952.d93408","name":"Right","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Right","payloadType":"str","x":230,"y":2940,"wires":[["afb3a620.426d88"]]},{"id":"8e6af73e.4891c8","type":"debug","z":"c2257952.d93408","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":2900,"wires":[]},{"id":"cff83127.cdb72","type":"inject","z":"c2257952.d93408","name":"Left","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Left","payloadType":"str","x":230,"y":2980,"wires":[["afb3a620.426d88"]]},{"id":"dfd1b13c.a6de","type":"inject","z":"c2257952.d93408","name":"Stop","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Stop","payloadType":"str","x":230,"y":2900,"wires":[["7eb0989c.9e9f48"]]},{"id":"223cf065.08b3c","type":"inject","z":"c2257952.d93408","name":"LeftUp","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"LeftUp","payloadType":"str","x":230,"y":3140,"wires":[["afb3a620.426d88"]]},{"id":"3f476786.1568d8","type":"inject","z":"c2257952.d93408","name":"RightUp","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"RightUp","payloadType":"str","x":230,"y":3180,"wires":[["afb3a620.426d88"]]},{"id":"9f0d8105.4d232","type":"inject","z":"c2257952.d93408","name":"LeftDown","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"LeftDown","payloadType":"str","x":220,"y":3220,"wires":[["afb3a620.426d88"]]},{"id":"afb3a620.426d88","type":"function","z":"c2257952.d93408","name":"PTZ","func":"msg.payload = [{\"cmd\":\"PtzCtrl\",\"action\":0,\"param\":{\"channel\":0,\"op\":msg.payload,\"speed\":32}}];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":2940,"wires":[["c2ddbea2.5c97","7306a6da.413ac8"]]},{"id":"7eb0989c.9e9f48","type":"function","z":"c2257952.d93408","name":"Stop","func":"msg.payload = [{\"cmd\":\"PtzCtrl\",\"action\":0,\"param\":{\"channel\":0,\"op\":msg.payload}}];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":2900,"wires":[["c2ddbea2.5c97"]]},{"id":"5caf351b.fc16cc","type":"inject","z":"c2257952.d93408","name":"Up","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Up","payloadType":"str","x":230,"y":3020,"wires":[["afb3a620.426d88"]]},{"id":"b0d33925.e83838","type":"inject","z":"c2257952.d93408","name":"Down","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Down","payloadType":"str","x":230,"y":3060,"wires":[["afb3a620.426d88"]]},{"id":"af0fb087.3885a","type":"function","z":"c2257952.d93408","name":"Stop","func":"msg.payload = [{\"cmd\":\"PtzCtrl\",\"action\":0,\"param\":{\"channel\":0,\"op\":\"Stop\"}}];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":3020,"wires":[["c2ddbea2.5c97"]]},{"id":"7306a6da.413ac8","type":"delay","z":"c2257952.d93408","name":"1s","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":430,"y":2980,"wires":[["af0fb087.3885a"]]},{"id":"7d7c1743.6d61e8","type":"inject","z":"c2257952.d93408","name":"RightDown","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"RightDown","payloadType":"str","x":220,"y":3260,"wires":[["afb3a620.426d88"]]},{"id":"d0e6d5bd.67df28","type":"inject","z":"c2257952.d93408","name":"ZoomStepInc","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ZoomStepInc","payloadType":"str","x":210,"y":3320,"wires":[["afb3a620.426d88"]]},{"id":"21ff4319.a9aeec","type":"inject","z":"c2257952.d93408","name":"ZoomStepDec","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ZoomStepDec","payloadType":"str","x":210,"y":3360,"wires":[["afb3a620.426d88"]]},{"id":"f259ba06.8e4e88","type":"inject","z":"c2257952.d93408","name":"ZoomStepInc","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ZoomStepInc","payloadType":"str","x":210,"y":3400,"wires":[["a56e98ed.eaa198"]]},{"id":"a56e98ed.eaa198","type":"function","z":"c2257952.d93408","name":"GetZoomFocus","func":"msg.payload = [{\"cmd\":\"GetZoomFocus\",\"action\":0,\"param\":{\"channel\":0}}];\nreturn msg;\n\n//,\"op\":\"Stop\"","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":3400,"wires":[["c2ddbea2.5c97"]]},{"id":"5100900d.1e321","type":"inject","z":"c2257952.d93408","name":"Auto Scan","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"cmd\":\"PtzCtrl\",\"action\":0,\"param\":{\"channel\":0,\"op\":\"Auto\",\"speed\":32}}]","payloadType":"json","x":860,"y":3240,"wires":[["c2ddbea2.5c97"]]},{"id":"61f5812b.d5f25","type":"inject","z":"c2257952.d93408","name":"Encode","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"cmd\":\"SetEnc\",\"action\":0,\"param\":{\"Enc\":{\"audio\":1,\"channel\":0,\"mainStream\":{\"bitRate\":4096,\"frameRate\":15,\"profile\":\"High\",\"size\":\"2560*1920\"},\"subStream\":{\"bitRate\":160,\"frameRate\":7,\"profile\":\"High\",\"size\":\"640*480\"}}}}]","payloadType":"json","x":850,"y":3160,"wires":[["c2ddbea2.5c97"]]},{"id":"6abc82b5.285b5c","type":"inject","z":"c2257952.d93408","name":"Set Image advanced","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"cmd\":\"SetIsp\",\"action\":0,\"param\":{\"Isp\":{\"antiFlicker\":\"50HZ\",\"backLight\":\"Off\",\"blc\":128,\"blueGain\":128,\"channel\":0,\"dayNight\":\"Auto\",\"drc\":128,\"exposure\":\"Auto\",\"gain\":{\"max\":62,\"min\":1},\"mirroring\":0,\"nr3d\":1,\"redGain\":128,\"rotation\":0,\"shutter\":{\"max\":125,\"min\":0},\"whiteBalance\":\"Auto\"}}}]","payloadType":"json","x":890,"y":3120,"wires":[["c2ddbea2.5c97"]]},{"id":"110e3a40.a64e06","type":"inject","z":"c2257952.d93408","name":"Set Image","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"cmd\":\"SetImage\",\"action\":0,\"param\":{\"Image\":{\"bright\":128,\"channel\":0,\"contrast\":128,\"hue\":128,\"saturation\":128,\"sharpen\":128}}}]","payloadType":"json","x":860,"y":3080,"wires":[["c2ddbea2.5c97"]]},{"id":"f9af1921.bd6cb8","type":"comment","z":"c2257952.d93408","name":"0-255","info":"Alle werte bei:\n\nmin = 0\nmax = 255","x":1150,"y":3080,"wires":[]},{"id":"3d1c8bac.3e9d24","type":"inject","z":"c2257952.d93408","name":"GetEnc","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"cmd\":\"GetEnc\",\"action\":0,\"param\":{\"channel\":0}}]","payloadType":"json","x":990,"y":3160,"wires":[["c2ddbea2.5c97"]]},{"id":"5f14783.7f7d688","type":"inject","z":"c2257952.d93408","name":"GetIsp","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"cmd\":\"GetIsp\",\"action\":0,\"param\":{\"channel\":0}}]","payloadType":"json","x":1070,"y":3120,"wires":[["c2ddbea2.5c97"]]},{"id":"600344b2.7d268c","type":"inject","z":"c2257952.d93408","name":"GetImage","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"cmd\":\"GetImage\",\"action\":0,\"param\":{\"channel\":0}}]","payloadType":"json","x":1020,"y":3080,"wires":[["c2ddbea2.5c97"]]},{"id":"dc2537d6.b1a808","type":"inject","z":"c2257952.d93408","name":"GetOsd","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"cmd\":\"GetOsd\",\"action\":0,\"param\":{\"channel\":0}}]","payloadType":"json","x":330,"y":3500,"wires":[["344af6da.40c89a"]]},{"id":"a66f4a5a.aefda8","type":"http request","z":"c2257952.d93408","name":"","method":"POST","ret":"obj","paytoqs":"query","url":"http://{{IP}}/api.cgi?/api.cgi?cmd=PtzCtrl&user={{USER}}&password={{PASS}}","tls":"","persist":false,"proxy":"","authType":"","x":750,"y":3500,"wires":[["fe9f1909.ac13f8"]]},{"id":"fe9f1909.ac13f8","type":"debug","z":"c2257952.d93408","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":3500,"wires":[]},{"id":"344af6da.40c89a","type":"change","z":"c2257952.d93408","name":"","rules":[{"t":"set","p":"IP","pt":"msg","to":"192.168.178.35","tot":"str"},{"t":"set","p":"USER","pt":"msg","to":"HomeMatic","tot":"str"},{"t":"set","p":"PASS","pt":"msg","to":"27081988","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":3500,"wires":[["a66f4a5a.aefda8"]]},{"id":"3fa3a9eb.aca306","type":"inject","z":"c2257952.d93408","name":"SetAlarm","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"cmd\":\"SetAlarm\",\"action\":1,\"param\":{\"Alarm\":{\"channel\":0,\"type\":\"md\",\"scope\":{\"table\":\"111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111\"}}}}]","payloadType":"json","x":460,"y":3080,"wires":[["c2ddbea2.5c97"]]},{"id":"a2c9f752.9e9138","type":"inject","z":"c2257952.d93408","name":"GetPerformance","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"cmd\":\"GetPerformance\",\"action\":0,\"param\":{}}]","payloadType":"json","x":480,"y":3260,"wires":[["c2ddbea2.5c97"]]},{"id":"3b97294e.bedba6","type":"inject","z":"c2257952.d93408","name":"SetAutoReboot","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"cmd\":\"SetAutoMaint\",\"action\":0,\"param\":{\"AutoMaint\":{\"enable\":0,\"weekDay\":\"Sunday\",\"hour\":2,\"min\":0,\"sec\":0}}}]","payloadType":"json","x":1020,"y":2980,"wires":[["c2ddbea2.5c97"]]},{"id":"e9450ce0.4df7a","type":"inject","z":"c2257952.d93408","name":"GetAutoMaint","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"cmd\":\"GetAutoMaint\",\"action\":0,\"param\":{}}]","payloadType":"json","x":1230,"y":2980,"wires":[["c2ddbea2.5c97"]]},{"id":"2fa4b5fb.be4d4a","type":"comment","z":"c2257952.d93408","name":"Everyday/Sunday/Monday/Tuesday/Wednesday/Thursday/Friday/Saturday","info":"","x":1340,"y":2940,"wires":[]},{"id":"3f41b3f4.01916c","type":"inject","z":"c2257952.d93408","name":"GetDevInfo","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"cmd\":\"GetDevInfo\",\"action\":0,\"param\":{}}]","payloadType":"json","x":460,"y":3220,"wires":[["c2ddbea2.5c97","344af6da.40c89a"]]},{"id":"c18635a3.04f168","type":"inject","z":"c2257952.d93408","name":"GetTime","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"cmd\":\"GetTime\",\"action\":1,\"param\":{}}]","payloadType":"json","x":460,"y":3180,"wires":[["344af6da.40c89a","c2ddbea2.5c97"]]},{"id":"44c26d74.c66674","type":"inject","z":"c2257952.d93408","name":"GetMask","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"cmd\":\"GetMask\",\"action\":1,\"param\":{\"channel\":0}}]","payloadType":"json","x":460,"y":3140,"wires":[["c2ddbea2.5c97"]]},{"id":"ef46118.52027f","type":"change","z":"c2257952.d93408","name":"Config","rules":[{"t":"set","p":"IP","pt":"msg","to":"IP","tot":"env"},{"t":"set","p":"USER","pt":"msg","to":"USER","tot":"env"},{"t":"set","p":"PASS","pt":"msg","to":"PASS","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1235,"y":620,"wires":[["c06322d7.d436"]],"icon":"node-red/cog.svg","l":false},{"id":"1cae14ae.13cd8b","type":"link in","z":"c2257952.d93408","name":"Status","links":["4a32dcb1.870d64","738b2c3c.2c4a44","c0ab4b26.60c318","dfbed2b5.06eeb","45d90611.74a908","2c3460dd.aff61","4a72691f.29e358"],"x":75,"y":360,"wires":[[]]},{"id":"4a32dcb1.870d64","type":"link out","z":"c2257952.d93408","name":"Status","links":["1cae14ae.13cd8b"],"x":1695,"y":640,"wires":[]},{"id":"e5a97566.8582c8","type":"function","z":"c2257952.d93408","name":"Status","func":"if (msg.payload[3].cmd === \"GetOsd\" && msg.payload[0].cmd ===\"GetDevInfo\") {\n    msg.payload = {fill:\"green\",shape:\"ring\",text:msg.payload[3].value.Osd.osdChannel.name + \" (\" + msg.payload[0].value.DevInfo.model + \")\"};\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1590,"y":640,"wires":[["4a32dcb1.870d64"]]},{"id":"aeff6e03.1a20d","type":"comment","z":"c2257952.d93408","name":"Werte abrufen","info":"","x":110,"y":460,"wires":[]},{"id":"5ae7ec24.08bd94","type":"switch","z":"c2257952.d93408","name":"topic Befehle","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Poll","vt":"str"},{"t":"eq","v":"SetPowerLed","vt":"str"},{"t":"eq","v":"SetAudioAlarm","vt":"str"},{"t":"eq","v":"Reboot","vt":"str"},{"t":"eq","v":"StartZoom","vt":"str"},{"t":"eq","v":"SetIrLights","vt":"str"},{"t":"eq","v":"SetOsdName","vt":"str"},{"t":"eq","v":"SetRotation","vt":"str"},{"t":"eq","v":"SetWatermark","vt":"str"},{"t":"eq","v":"SetPTZ","vt":"str"},{"t":"eq","v":"SetImageBright","vt":"str"},{"t":"eq","v":"SetImageContrast","vt":"str"},{"t":"eq","v":"SetImageHue","vt":"str"},{"t":"eq","v":"SetImageSaturation","vt":"str"},{"t":"eq","v":"SetImageSharpen","vt":"str"},{"t":"eq","v":"SetMotionDetectionEnable","vt":"str"},{"t":"eq","v":"SetMotionSensitivity","vt":"str"},{"t":"eq","v":"SetOsdTimeEnable","vt":"str"},{"t":"eq","v":"SetOsdNameEnable","vt":"str"},{"t":"eq","v":"SetFtpEnable","vt":"str"},{"t":"eq","v":"cmd","vt":"str"}],"checkall":"false","repair":false,"outputs":21,"x":450,"y":1020,"wires":[["f04b3ab3.d405b8"],["efdfa46a.83cd58"],["3d5eeeb8.bfeac2"],["94f7a88d.581e88"],["6a23649.24e1e9c"],["2c2e5c80.56a824"],["5a0a5686.05d3a8"],["e5a63721.388948"],["f34e280c.330428"],["80b2a3c6.7ac9b"],["ba62eb39.c51168"],["dbbc10b7.4306b"],["a2d5b288.3aa47"],["4b6edb97.15e5a4"],["971c1af3.a8d708"],["a69be7d7.be5ec8"],["4db102b2.c0cd9c"],["f24d8fe.c808a7"],["4a607866.100238"],["c4d97cf1.7373d"],["371921af.ddb3be"]]},{"id":"35b68984.272ce6","type":"function","z":"c2257952.d93408","name":"SetPowerLed","func":"msg.payload = [{\"cmd\":\"SetPowerLed\",\"action\":0,\"param\":{\"PowerLed\":{\"state\":msg.payload,\"channel\":0}}}];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":660,"wires":[["6e7e5daa.f49204"]]},{"id":"f54ce134.46198","type":"function","z":"c2257952.d93408","name":"SetAudioAlarm","func":"msg.payload = [{\"cmd\":\"SetAudioAlarm\",\"action\":0,\"param\":{\"Audio\":{\"schedule\":{\"enable\":msg.payload}}}}];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":700,"wires":[["6e7e5daa.f49204"]]},{"id":"ac0ab95.6a86148","type":"function","z":"c2257952.d93408","name":"SetIrLights","func":"msg.payload = [{\"cmd\":\"SetIrLights\",\"action\":0,\"param\":{\"IrLights\":{\"state\":msg.payload}}}];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":820,"wires":[["6e7e5daa.f49204"]]},{"id":"416ca97e.7fcb88","type":"function","z":"c2257952.d93408","name":"SetPTZ","func":"if (msg.payload === \"Left\" || msg.payload === \"Right\" || msg.payload === \"Up\" || msg.payload === \"Down\" || msg.payload === \"LeftUp\" || msg.payload === \"LeftDown\" || msg.payload === \"RightUp\" || msg.payload === \"RightDown\"){\n    msg.payload = [{\"cmd\":\"PtzCtrl\",\"action\":0,\"param\":{\"channel\":0,\"op\":msg.payload,\"speed\":15}}];\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":980,"wires":[["ffb00a57.e731d8"]]},{"id":"9260686.0b1d498","type":"function","z":"c2257952.d93408","name":"SetRotation","func":"msg.payload = [{\"cmd\":\"SetIsp\",\"action\":0,\"param\":{\"Isp\":{\"channel\":0,\"rotation\":msg.payload}}}];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":900,"wires":[["6e7e5daa.f49204"]]},{"id":"ed33414b.0661e","type":"change","z":"c2257952.d93408","name":"Config","rules":[{"t":"set","p":"IP","pt":"msg","to":"IP","tot":"env"},{"t":"set","p":"USER","pt":"msg","to":"USER","tot":"env"},{"t":"set","p":"PASS","pt":"msg","to":"PASS","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":1020,"wires":[["62a7d3d8.71d81c"]]},{"id":"567cc965.7d7c68","type":"debug","z":"c2257952.d93408","name":"get all","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":560,"wires":[]},{"id":"6e7e5daa.f49204","type":"change","z":"c2257952.d93408","name":"Config","rules":[{"t":"set","p":"IP","pt":"msg","to":"IP","tot":"env"},{"t":"set","p":"USER","pt":"msg","to":"USER","tot":"env"},{"t":"set","p":"PASS","pt":"msg","to":"PASS","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1155,"y":1040,"wires":[["8b15fd3b.191db"]],"icon":"node-red/cog.svg","l":false},{"id":"5399c2d7.e2fa3c","type":"http request","z":"c2257952.d93408","name":"api.cgi","method":"POST","ret":"obj","paytoqs":"query","url":"http://{{IP}}/api.cgi?/api.cgi?cmd=PtzCtrl&user={{USER}}&password={{PASS}}","tls":"","persist":false,"proxy":"","authType":"","x":1355,"y":1040,"wires":[["a1b4ae66.cbd68","429ff811.1cb3f8","ca2dbf4.0e8cf4"]],"l":false},{"id":"897fdd69.a73a","type":"debug","z":"c2257952.d93408","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1410,"y":820,"wires":[],"icon":"font-awesome/fa-bug"},{"id":"efdfa46a.83cd58","type":"change","z":"c2257952.d93408","name":"Value","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"On","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"Off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":660,"wires":[["35b68984.272ce6"]]},{"id":"3d5eeeb8.bfeac2","type":"change","z":"c2257952.d93408","name":"Value","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":700,"wires":[["f54ce134.46198"]]},{"id":"94f7a88d.581e88","type":"change","z":"c2257952.d93408","name":"Value","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"on","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":740,"wires":[["348be9a7.e45346"]]},{"id":"f04b3ab3.d405b8","type":"change","z":"c2257952.d93408","name":"Value","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":620,"wires":[["ffa37336.40036"]]},{"id":"ffa37336.40036","type":"template","z":"c2257952.d93408","name":"Get All Values","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"[\n    {\n        \"cmd\": \"GetDevInfo\",\n        \"action\": 1,\n        \"param\": {}\n    },\n    {\n        \"cmd\": \"GetIrLights\",\n        \"action\": 1,\n        \"param\": {}\n    },\n    {\n        \"cmd\": \"GetPowerLed\",\n        \"action\": 1,\n        \"param\": {\n            \"channel\": 0\n        }\n    },\n    {\n        \"cmd\": \"GetOsd\",\n        \"action\": 1,\n        \"param\": {\n            \"channel\": 0\n        }\n    },\n    {\n        \"cmd\": \"GetEnc\",\n        \"action\": 1,\n        \"param\": {\n            \"channel\": 0\n        }\n    },\n    {\n        \"cmd\": \"GetImage\",\n        \"action\": 1,\n        \"param\": {\n            \"channel\": 0\n        }\n    },\n    {\n        \"cmd\": \"GetIsp\",\n        \"action\": 1,\n        \"param\": {\n            \"channel\": 0\n        }\n    },\n    {\n        \"cmd\": \"GetZoomFocus\",\n        \"action\": 1,\n        \"param\": {\n            \"channel\": 0\n        }\n    },\n    {\n        \"cmd\": \"GetAudioAlarm\",\n        \"action\": 1,\n        \"param\": {\n            \"channel\": 0\n        }\n    },\n    {\n        \"cmd\": \"GetAlarm\",\n        \"action\": 1,\n        \"param\": {\n            \"Alarm\": {\n                \"channel\": 0,\n                \"type\": \"md\"\n            }\n        }\n    },\n    {\n        \"cmd\": \"GetMdAlarm\",\n        \"action\": 1,\n        \"param\": {\n            \"channel\": 0\n        }\n    },\n    {\n        \"cmd\": \"GetFtp\",\n        \"action\": 1,\n        \"param\": {}\n    }\n]","output":"str","x":960,"y":620,"wires":[["16501159.395c2f"]]},{"id":"540a48b8.7003a8","type":"function","z":"c2257952.d93408","name":"Get All Values","func":"msg.payload = [{\"cmd\":\"GetIrLights\",\"action\":1,\"param\":{}},{\"cmd\":\"GetPowerLed\",\"action\":1,\"param\":{\"channel\":0}},{\"cmd\":\"GetOsd\",\"action\":1,\"param\":{\"channel\":0}},{\"cmd\":\"GetEnc\",\"action\":1,\"param\":{\"channel\":0}},{\"cmd\":\"GetImage\",\"action\":1,\"param\":{\"channel\":0}},{\"cmd\":\"GetIsp\",\"action\":1,\"param\":{\"channel\":0}},{\"cmd\":\"GetZoomFocus\",\"action\":1,\"param\":{\"channel\":0}}];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":580,"wires":[[]]},{"id":"c06322d7.d436","type":"http request","z":"c2257952.d93408","name":"api.cgi","method":"POST","ret":"obj","paytoqs":"query","url":"http://{{IP}}/api.cgi?/api.cgi?cmd=PtzCtrl&user={{USER}}&password={{PASS}}","tls":"","persist":false,"proxy":"","authType":"","x":1295,"y":620,"wires":[["8da172cd.9c81a","e845b5b6.3b3c68"]],"l":false},{"id":"2764d766.f48928","type":"function","z":"c2257952.d93408","name":"StartZoom","func":"msg.payload = [{\"cmd\":\"StartZoomFocus\",\"action\":0,\"param\":{\"ZoomFocus\":{\"channel\":0,\"pos\":msg.payload,\"op\":\"ZoomPos\"}}}];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":780,"wires":[["6e7e5daa.f49204"]]},{"id":"348be9a7.e45346","type":"template","z":"c2257952.d93408","name":"Reboot","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"[\n    {\n        \"cmd\": \"Reboot\",\n        \"action\": 0,\n        \"param\": {}\n    }\n]","output":"str","x":980,"y":740,"wires":[["6e7e5daa.f49204"]]},{"id":"2c2e5c80.56a824","type":"change","z":"c2257952.d93408","name":"Value","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"Auto","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"Off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":820,"wires":[["ac0ab95.6a86148"]]},{"id":"5a0a5686.05d3a8","type":"change","z":"c2257952.d93408","name":"Value","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":860,"wires":[["31550345.c1de1c"]]},{"id":"9ab0100.14b6ff","type":"delay","z":"c2257952.d93408","name":"msg.delay","pauseType":"delayv","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":820,"y":1020,"wires":[["982a2b97.7e7e48"]]},{"id":"982a2b97.7e7e48","type":"function","z":"c2257952.d93408","name":"Stop","func":"msg.payload = [{\"cmd\":\"PtzCtrl\",\"action\":0,\"param\":{\"channel\":0,\"op\":\"Stop\"}}];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":1020,"wires":[["ffb00a57.e731d8"]]},{"id":"a6b4a06e.c4d32","type":"inject","z":"c2257952.d93408","name":"Start","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"Poll","payloadType":"str","x":150,"y":180,"wires":[["95c26682.b5a798"]]},{"id":"6b5130ac.33f73","type":"link out","z":"c2257952.d93408","name":"Poll","links":["3f783895.639a28"],"x":895,"y":160,"wires":[]},{"id":"80adfc9b.0f676","type":"change","z":"c2257952.d93408","name":"POLL","rules":[{"t":"set","p":"delay","pt":"msg","to":"POLL","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":160,"wires":[["fe7e0b2e.70b568"]]},{"id":"7b541321.d6017c","type":"range","z":"c2257952.d93408","minin":"0","maxin":"1","minout":"0","maxout":"1000","action":"scale","round":true,"property":"delay","name":"","x":580,"y":160,"wires":[["e21e2633.ed4aa8"]]},{"id":"e21e2633.ed4aa8","type":"delay","z":"c2257952.d93408","name":"delay","pauseType":"delayv","timeout":"3000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":750,"y":160,"wires":[["80adfc9b.0f676","6b5130ac.33f73"]]},{"id":"8b578024.b09bd","type":"inject","z":"c2257952.d93408","name":"reset","props":[{"p":"reset","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"str","x":590,"y":40,"wires":[["e21e2633.ed4aa8","5fbb07d.c5b13f8"]]},{"id":"fe7e0b2e.70b568","type":"switch","z":"c2257952.d93408","name":"${POLL}","property":"POLL","propertyType":"env","rules":[{"t":"neq","v":"0","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":440,"y":160,"wires":[["7b541321.d6017c"]]},{"id":"3f783895.639a28","type":"link in","z":"c2257952.d93408","name":"Poll","links":["6b5130ac.33f73"],"x":75,"y":1120,"wires":[["ed33414b.0661e","6c35db72.66f8e4"]]},{"id":"513cc921.23f758","type":"function","z":"c2257952.d93408","name":"Status","func":"msg.payload = {fill:\"grey\",shape:\"dot\",text:\"Poll...\"};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":1200,"wires":[["738b2c3c.2c4a44"]]},{"id":"738b2c3c.2c4a44","type":"link out","z":"c2257952.d93408","name":"Status","links":["1cae14ae.13cd8b"],"x":515,"y":1200,"wires":[]},{"id":"6a23649.24e1e9c","type":"range","z":"c2257952.d93408","minin":"0","maxin":"32","minout":"0","maxout":"32","action":"clamp","round":true,"property":"payload","name":"0 - 32","x":690,"y":780,"wires":[["2764d766.f48928"]]},{"id":"e5a63721.388948","type":"change","z":"c2257952.d93408","name":"Value","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":900,"wires":[["9260686.0b1d498"]]},{"id":"5d0bd77c.c24378","type":"switch","z":"c2257952.d93408","name":"payload[0].cmd","property":"payload[0].cmd","propertyType":"msg","rules":[{"t":"eq","v":"SetIsp","vt":"str"},{"t":"eq","v":"SetAudioAlarm","vt":"str"},{"t":"eq","v":"SetPowerLed","vt":"str"},{"t":"eq","v":"SetIrLights","vt":"str"},{"t":"eq","v":"SetOsd","vt":"str"},{"t":"eq","v":"SetImage","vt":"str"},{"t":"eq","v":"SetZoomFocus","vt":"str"},{"t":"eq","v":"SetAlarm","vt":"str"},{"t":"eq","v":"SetMdAlarm","vt":"str"},{"t":"eq","v":"SetFtp","vt":"str"}],"checkall":"false","repair":false,"outputs":10,"x":1515,"y":1040,"wires":[["666531be.2ab61"],["eb3a6e2d.9c091"],["3be07b2c.5ece64"],["2affa52d.5779fa"],["547a6cd6.25c154"],["76af0925.72abf8"],["845cc99d.ddaa58"],["31fa8f75.5ec5e"],["cd904d93.d247a"],["63ad9087.6a7a4"]],"l":false},{"id":"666531be.2ab61","type":"template","z":"c2257952.d93408","name":"GetIsp","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"[\n    {\n        \"cmd\": \"GetIsp\",\n        \"action\": 1,\n        \"param\": {\n            \"channel\": 0\n        }\n    }\n]","output":"str","x":1670,"y":820,"wires":[["e3a6a5f0.7ac388"]]},{"id":"7decac8d.86c314","type":"http request","z":"c2257952.d93408","name":"api.cgi","method":"POST","ret":"obj","paytoqs":"query","url":"http://{{IP}}/api.cgi?/api.cgi?cmd=PtzCtrl&user={{USER}}&password={{PASS}}","tls":"","persist":false,"proxy":"","authType":"","x":2010,"y":820,"wires":[["9f876803.fad558","43e0c516.3fedac"]]},{"id":"e3a6a5f0.7ac388","type":"change","z":"c2257952.d93408","name":"Config","rules":[{"t":"set","p":"IP","pt":"msg","to":"IP","tot":"env"},{"t":"set","p":"USER","pt":"msg","to":"USER","tot":"env"},{"t":"set","p":"PASS","pt":"msg","to":"PASS","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1870,"y":820,"wires":[["7decac8d.86c314"]]},{"id":"9f876803.fad558","type":"change","z":"c2257952.d93408","name":"rotation","rules":[{"t":"move","p":"payload[0].value.Isp.rotation","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2180,"y":820,"wires":[["8cf137e8.f01038"]]},{"id":"8cf137e8.f01038","type":"change","z":"c2257952.d93408","name":"Value","rules":[{"t":"set","p":"rotation","pt":"flow","to":"payload","tot":"msg"},{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2390,"y":780,"wires":[[]]},{"id":"2cd3bcc2.768d44","type":"change","z":"c2257952.d93408","name":"rotation","rules":[{"t":"move","p":"payload[6].value.Isp.rotation","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2180,"y":780,"wires":[["8cf137e8.f01038"]]},{"id":"9b299076.7b6cf","type":"link in","z":"c2257952.d93408","name":"rotation","links":["6e70e5b3.a6b4cc"],"x":2035,"y":780,"wires":[["2cd3bcc2.768d44"]]},{"id":"6e70e5b3.a6b4cc","type":"link out","z":"c2257952.d93408","name":"get all","links":["9b299076.7b6cf","1ec71790.271768","20af07f.e3d51f8","f80e1116.d1ebc","be19352d.1c6ea8","8948efca.5ffd5","28bdabaf.debbb4","eda32fa4.062ef","2459cc57.7b7564","63f77434.f1de5c","25716319.79532c","79891ade.159564","dd323730.cbe1a8","e9d32c83.b0c11","55f11165.f12da","379c761d.b77f9a","cb4f3d04.5d75a","1eea0b9f.441644"],"x":1555,"y":680,"wires":[]},{"id":"990256d9.1db0f8","type":"catch","z":"c2257952.d93408","name":"","scope":["c06322d7.d436","5399c2d7.e2fa3c","7decac8d.86c314"],"uncaught":false,"x":360,"y":460,"wires":[["fe6c254f.ae59f8"]]},{"id":"caaaf47b.e5ce18","type":"switch","z":"c2257952.d93408","name":"error.message","property":"error.message","propertyType":"msg","rules":[{"t":"cont","v":"Error: connect EHOSTUNREACH","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":760,"y":460,"wires":[["99112195.da448","adb16af3.9c7d68","bc187990.ba0708"]]},{"id":"99112195.da448","type":"function","z":"c2257952.d93408","name":"Status","func":"msg.payload = {fill:\"red\",shape:\"ring\",text:\"keine Verbindung!\"};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":460,"wires":[["c0ab4b26.60c318"]]},{"id":"c0ab4b26.60c318","type":"link out","z":"c2257952.d93408","name":"Status","links":["1cae14ae.13cd8b"],"x":1075,"y":460,"wires":[]},{"id":"fe6c254f.ae59f8","type":"delay","z":"c2257952.d93408","name":"Limit","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":530,"y":460,"wires":[["caaaf47b.e5ce18"]]},{"id":"547a6cd6.25c154","type":"template","z":"c2257952.d93408","name":"GetOsd","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"[\n    {\n        \"cmd\": \"GetOsd\",\n        \"action\": 1,\n        \"param\": {\n            \"channel\": 0\n        }\n    }\n]","output":"str","x":1680,"y":1140,"wires":[["c5778ede.fdad2"]]},{"id":"c5778ede.fdad2","type":"change","z":"c2257952.d93408","name":"Config","rules":[{"t":"set","p":"IP","pt":"msg","to":"IP","tot":"env"},{"t":"set","p":"USER","pt":"msg","to":"USER","tot":"env"},{"t":"set","p":"PASS","pt":"msg","to":"PASS","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1870,"y":1140,"wires":[["79a5bbd1.d67d14"]]},{"id":"79a5bbd1.d67d14","type":"http request","z":"c2257952.d93408","name":"api.cgi","method":"POST","ret":"obj","paytoqs":"query","url":"http://{{IP}}/api.cgi?/api.cgi?cmd=PtzCtrl&user={{USER}}&password={{PASS}}","tls":"","persist":false,"proxy":"","authType":"","x":2010,"y":1140,"wires":[["3fe84107.346cae","448d2106.ae681","43e0c516.3fedac","dcd7931.434bc7","d777cbcf.5740b8"]]},{"id":"3fe84107.346cae","type":"change","z":"c2257952.d93408","name":"name","rules":[{"t":"move","p":"payload[0].value.Osd.osdChannel.name","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"name","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2390,"y":1140,"wires":[["8e4b2c90.7b2c5"]]},{"id":"e68dd541.998b98","type":"change","z":"c2257952.d93408","name":"name","rules":[{"t":"move","p":"payload[3].value.Osd.osdChannel.name","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"name","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2390,"y":1100,"wires":[["8e4b2c90.7b2c5"]]},{"id":"1ec71790.271768","type":"link in","z":"c2257952.d93408","name":"rotation","links":["6e70e5b3.a6b4cc"],"x":2035,"y":1100,"wires":[["e68dd541.998b98"]]},{"id":"31550345.c1de1c","type":"template","z":"c2257952.d93408","name":"SetOsdName","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"[\n    {\n        \"cmd\": \"SetOsd\",\n        \"action\": 0,\n        \"param\": {\n            \"Osd\": {\n                \"channel\": 0,\n                \"osdChannel\": {\n                    \"name\": \"{{payload}}\"\n                }\n            }\n        }\n    }\n]","output":"str","x":960,"y":860,"wires":[["6e7e5daa.f49204"]]},{"id":"2affa52d.5779fa","type":"template","z":"c2257952.d93408","name":"GetIrLights","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"[\n    {\n        \"cmd\": \"GetIrLights\",\n        \"action\": 1,\n        \"param\": {\n            \"channel\": 0\n        }\n    }\n]","output":"str","x":1690,"y":1060,"wires":[["c334d7b1.79c328"]]},{"id":"c334d7b1.79c328","type":"change","z":"c2257952.d93408","name":"Config","rules":[{"t":"set","p":"IP","pt":"msg","to":"IP","tot":"env"},{"t":"set","p":"USER","pt":"msg","to":"USER","tot":"env"},{"t":"set","p":"PASS","pt":"msg","to":"PASS","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1870,"y":1060,"wires":[["c3f44e54.ba9be"]]},{"id":"c3f44e54.ba9be","type":"http request","z":"c2257952.d93408","name":"api.cgi","method":"POST","ret":"obj","paytoqs":"query","url":"http://{{IP}}/api.cgi?/api.cgi?cmd=PtzCtrl&user={{USER}}&password={{PASS}}","tls":"","persist":false,"proxy":"","authType":"","x":2010,"y":1060,"wires":[["8c1e491a.318308","43e0c516.3fedac"]]},{"id":"8c1e491a.318308","type":"change","z":"c2257952.d93408","name":"IrLights","rules":[{"t":"move","p":"payload[0].value.IrLights.state","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2180,"y":1060,"wires":[["b87d6a16.6aaad8"]]},{"id":"b16657fd.678868","type":"change","z":"c2257952.d93408","name":"IrLights","rules":[{"t":"move","p":"payload[1].value.IrLights.state","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2180,"y":1020,"wires":[["b87d6a16.6aaad8"]]},{"id":"20af07f.e3d51f8","type":"link in","z":"c2257952.d93408","name":"rotation","links":["6e70e5b3.a6b4cc"],"x":2035,"y":1020,"wires":[["b16657fd.678868"]]},{"id":"b87d6a16.6aaad8","type":"change","z":"c2257952.d93408","name":"Value","rules":[{"t":"set","p":"IrLights","pt":"flow","to":"payload","tot":"msg"},{"t":"change","p":"payload","pt":"msg","from":"Auto","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"Off","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2390,"y":1020,"wires":[[]]},{"id":"16501159.395c2f","type":"delay","z":"c2257952.d93408","name":"Limit","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1150,"y":620,"wires":[["ef46118.52027f"]]},{"id":"3be07b2c.5ece64","type":"template","z":"c2257952.d93408","name":"GetPowerLed","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"[\n    {\n        \"cmd\": \"GetPowerLed\",\n        \"action\": 1,\n        \"param\": {\n            \"channel\": 0\n        }\n    }\n]","output":"str","x":1700,"y":980,"wires":[["c6295bd7.6c2588"]]},{"id":"c6295bd7.6c2588","type":"change","z":"c2257952.d93408","name":"Config","rules":[{"t":"set","p":"IP","pt":"msg","to":"IP","tot":"env"},{"t":"set","p":"USER","pt":"msg","to":"USER","tot":"env"},{"t":"set","p":"PASS","pt":"msg","to":"PASS","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1870,"y":980,"wires":[["67a24f35.6e7fe"]]},{"id":"67a24f35.6e7fe","type":"http request","z":"c2257952.d93408","name":"api.cgi","method":"POST","ret":"obj","paytoqs":"query","url":"http://{{IP}}/api.cgi?/api.cgi?cmd=PtzCtrl&user={{USER}}&password={{PASS}}","tls":"","persist":false,"proxy":"","authType":"","x":2010,"y":980,"wires":[["8f70345e.677088","43e0c516.3fedac"]]},{"id":"8f70345e.677088","type":"change","z":"c2257952.d93408","name":"PowerLed","rules":[{"t":"move","p":"payload[0].value.PowerLed.state","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2180,"y":980,"wires":[["5f7a004.c0ae7"]]},{"id":"fc1ae029.95c33","type":"change","z":"c2257952.d93408","name":"PowerLed","rules":[{"t":"move","p":"payload[2].value.PowerLed.state","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2180,"y":940,"wires":[["5f7a004.c0ae7"]]},{"id":"f80e1116.d1ebc","type":"link in","z":"c2257952.d93408","name":"rotation","links":["6e70e5b3.a6b4cc"],"x":2035,"y":940,"wires":[["fc1ae029.95c33"]]},{"id":"5f7a004.c0ae7","type":"change","z":"c2257952.d93408","name":"Value","rules":[{"t":"set","p":"PowerLed","pt":"flow","to":"payload","tot":"msg"},{"t":"change","p":"payload","pt":"msg","from":"On","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"Off","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2390,"y":940,"wires":[[]]},{"id":"eb3a6e2d.9c091","type":"template","z":"c2257952.d93408","name":"GetAudioAlarm","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"[\n    {\n        \"cmd\": \"GetAudioAlarm\",\n        \"action\": 1,\n        \"param\": {\n            \"channel\": 0\n        }\n    }\n]","output":"str","x":1700,"y":900,"wires":[["99bf9aef.4a8798"]]},{"id":"99bf9aef.4a8798","type":"change","z":"c2257952.d93408","name":"Config","rules":[{"t":"set","p":"IP","pt":"msg","to":"IP","tot":"env"},{"t":"set","p":"USER","pt":"msg","to":"USER","tot":"env"},{"t":"set","p":"PASS","pt":"msg","to":"PASS","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1870,"y":900,"wires":[["de0a5559.412798"]]},{"id":"de0a5559.412798","type":"http request","z":"c2257952.d93408","name":"api.cgi","method":"POST","ret":"obj","paytoqs":"query","url":"http://{{IP}}/api.cgi?/api.cgi?cmd=PtzCtrl&user={{USER}}&password={{PASS}}","tls":"","persist":false,"proxy":"","authType":"","x":2010,"y":900,"wires":[["dfbb4b30.3d9388","43e0c516.3fedac"]]},{"id":"dfbb4b30.3d9388","type":"change","z":"c2257952.d93408","name":"AudioAlarm","rules":[{"t":"move","p":"payload[0].value.Audio.schedule.enable","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2190,"y":900,"wires":[["c0676b13.a23eb8"]]},{"id":"f7cf29ed.049fa8","type":"change","z":"c2257952.d93408","name":"AudioAlarm","rules":[{"t":"move","p":"payload[8].value.Audio.schedule.enable","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2190,"y":860,"wires":[["c0676b13.a23eb8"]]},{"id":"be19352d.1c6ea8","type":"link in","z":"c2257952.d93408","name":"rotation","links":["6e70e5b3.a6b4cc"],"x":2035,"y":860,"wires":[["f7cf29ed.049fa8"]]},{"id":"c0676b13.a23eb8","type":"change","z":"c2257952.d93408","name":"Value","rules":[{"t":"set","p":"AudioAlarm","pt":"flow","to":"payload","tot":"msg"},{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2390,"y":860,"wires":[[]]},{"id":"353a1097.53a93","type":"template","z":"c2257952.d93408","name":"SetWatermark","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"[\n    {\n        \"cmd\": \"SetOsd\",\n        \"action\": 0,\n        \"param\": {\n            \"Osd\": {\n                \"channel\": 0,\n                \"watermark\": {{payload}}\n            }\n        }\n    }\n]","output":"str","x":960,"y":940,"wires":[["6e7e5daa.f49204"]]},{"id":"f34e280c.330428","type":"change","z":"c2257952.d93408","name":"Value","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":940,"wires":[["353a1097.53a93"]]},{"id":"448d2106.ae681","type":"change","z":"c2257952.d93408","name":"watermark","rules":[{"t":"move","p":"payload[0].value.Osd.watermark","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2190,"y":1220,"wires":[["c85295a.ed16368"]]},{"id":"29315b3e.bae224","type":"change","z":"c2257952.d93408","name":"watermark","rules":[{"t":"move","p":"payload[3].value.Osd.watermark","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2190,"y":1180,"wires":[["c85295a.ed16368"]]},{"id":"8948efca.5ffd5","type":"link in","z":"c2257952.d93408","name":"rotation","links":["6e70e5b3.a6b4cc"],"x":2035,"y":1180,"wires":[["29315b3e.bae224"]]},{"id":"c85295a.ed16368","type":"change","z":"c2257952.d93408","name":"Value","rules":[{"t":"set","p":"watermark","pt":"flow","to":"payload","tot":"msg"},{"t":"change","p":"payload","pt":"msg","from":"Auto","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"Off","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2390,"y":1180,"wires":[[]]},{"id":"dfbed2b5.06eeb","type":"link out","z":"c2257952.d93408","name":"Status","links":["1cae14ae.13cd8b"],"x":1515,"y":780,"wires":[]},{"id":"85fdc2ae.06a41","type":"function","z":"c2257952.d93408","name":"Status","func":"msg.payload = {fill:\"green\",shape:\"dot\",text:\"ok\"};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1410,"y":780,"wires":[["dfbed2b5.06eeb"]]},{"id":"d8f00505.8d8028","type":"comment","z":"c2257952.d93408","name":"SetImageBright,SetImageContrast,SetImageHue,SetImageSaturation,SetImageSharpen","info":"[{\"cmd\":\"SetImage\",\"action\":0,\"param\":{\"Image\":{\"channel\":0,\"bright\":msg.payload}}}]\n[{\"cmd\":\"SetImage\",\"action\":0,\"param\":{\"Image\":{\"channel\":0,\"contrast\":msg.payload}}}]\n[{\"cmd\":\"SetImage\",\"action\":0,\"param\":{\"Image\":{\"channel\":0,\"hue\":msg.payload}}}]\n[{\"cmd\":\"SetImage\",\"action\":0,\"param\":{\"Image\":{\"channel\":0,\"saturation\":msg.payload}}}]\n[{\"cmd\":\"SetImage\",\"action\":0,\"param\":{\"Image\":{\"channel\":0,\"sharpen\":msg.payload}}}]","x":900,"y":1380,"wires":[]},{"id":"fe2d4746.432f68","type":"function","z":"c2257952.d93408","name":"bright","func":"msg.payload = [{\"cmd\":\"SetImage\",\"action\":0,\"param\":{\"Image\":{\"channel\":0,\"bright\":msg.payload}}}];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":1060,"wires":[["6e7e5daa.f49204"]]},{"id":"ba62eb39.c51168","type":"range","z":"c2257952.d93408","minin":"0","maxin":"255","minout":"0","maxout":"255","action":"clamp","round":true,"property":"payload","name":"0 - 255","x":690,"y":1060,"wires":[["b043f1de.60e18"]]},{"id":"3a51dafd.025736","type":"function","z":"c2257952.d93408","name":"contrast","func":"msg.payload = [{\"cmd\":\"SetImage\",\"action\":0,\"param\":{\"Image\":{\"channel\":0,\"contrast\":msg.payload}}}];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":1100,"wires":[["6e7e5daa.f49204"]]},{"id":"dbbc10b7.4306b","type":"range","z":"c2257952.d93408","minin":"0","maxin":"255","minout":"0","maxout":"255","action":"clamp","round":true,"property":"payload","name":"0 - 255","x":690,"y":1100,"wires":[["74216252.6e292c"]]},{"id":"3a876fb7.9b23","type":"function","z":"c2257952.d93408","name":"hue","func":"msg.payload = [{\"cmd\":\"SetImage\",\"action\":0,\"param\":{\"Image\":{\"channel\":0,\"hue\":msg.payload}}}];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":1140,"wires":[["6e7e5daa.f49204"]]},{"id":"a2d5b288.3aa47","type":"range","z":"c2257952.d93408","minin":"0","maxin":"255","minout":"0","maxout":"255","action":"clamp","round":true,"property":"payload","name":"0 - 255","x":690,"y":1140,"wires":[["cfbdc4c2.ee6f68"]]},{"id":"228b8376.8f98fc","type":"function","z":"c2257952.d93408","name":"saturation","func":"msg.payload = [{\"cmd\":\"SetImage\",\"action\":0,\"param\":{\"Image\":{\"channel\":0,\"saturation\":msg.payload}}}];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":1180,"wires":[["6e7e5daa.f49204"]]},{"id":"4b6edb97.15e5a4","type":"range","z":"c2257952.d93408","minin":"0","maxin":"255","minout":"0","maxout":"255","action":"clamp","round":true,"property":"payload","name":"0 - 255","x":690,"y":1180,"wires":[["71f6eb95.622b04"]]},{"id":"a5ed4f98.6a59e","type":"function","z":"c2257952.d93408","name":"sharpen","func":"msg.payload = [{\"cmd\":\"SetImage\",\"action\":0,\"param\":{\"Image\":{\"channel\":0,\"sharpen\":msg.payload}}}];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":1220,"wires":[["6e7e5daa.f49204"]]},{"id":"971c1af3.a8d708","type":"range","z":"c2257952.d93408","minin":"0","maxin":"255","minout":"0","maxout":"255","action":"clamp","round":true,"property":"payload","name":"0 - 255","x":690,"y":1220,"wires":[["f7f3f093.790e"]]},{"id":"480598f6.a1a3e8","type":"change","z":"c2257952.d93408","name":"$delay","rules":[{"t":"set","p":"delay","pt":"msg","to":"PTZ_DELAY","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":980,"wires":[["416ca97e.7fcb88","9ab0100.14b6ff"]],"icon":"node-red/cog.svg"},{"id":"335815d9.50986a","type":"change","z":"c2257952.d93408","name":"bright","rules":[{"t":"move","p":"payload[0].value.Image.bright","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"bright","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2170,"y":1520,"wires":[[]]},{"id":"cc667d6e.ab354","type":"change","z":"c2257952.d93408","name":"bright","rules":[{"t":"move","p":"payload[5].value.Image.bright","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"bright","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2170,"y":1480,"wires":[[]]},{"id":"28bdabaf.debbb4","type":"link in","z":"c2257952.d93408","name":"rotation","links":["6e70e5b3.a6b4cc"],"x":2035,"y":1480,"wires":[["cc667d6e.ab354"]]},{"id":"76af0925.72abf8","type":"template","z":"c2257952.d93408","name":"GetImage","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"[\n    {\n        \"cmd\": \"GetImage\",\n        \"action\": 1,\n        \"param\": {\n            \"channel\": 0\n        }\n    }\n]","output":"str","x":1680,"y":1520,"wires":[["787a9a4d.57b504"]]},{"id":"787a9a4d.57b504","type":"change","z":"c2257952.d93408","name":"Config","rules":[{"t":"set","p":"IP","pt":"msg","to":"IP","tot":"env"},{"t":"set","p":"USER","pt":"msg","to":"USER","tot":"env"},{"t":"set","p":"PASS","pt":"msg","to":"PASS","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1870,"y":1520,"wires":[["b7f34189.2d6e5"]]},{"id":"bf2896d8.0a3298","type":"change","z":"c2257952.d93408","name":"contrast","rules":[{"t":"move","p":"payload[0].value.Image.contrast","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"contrast","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2180,"y":1600,"wires":[[]]},{"id":"83724e69.9050e","type":"change","z":"c2257952.d93408","name":"contrast","rules":[{"t":"move","p":"payload[5].value.Image.contrast","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"contrast","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2180,"y":1560,"wires":[[]]},{"id":"eda32fa4.062ef","type":"link in","z":"c2257952.d93408","name":"rotation","links":["6e70e5b3.a6b4cc"],"x":2035,"y":1560,"wires":[["83724e69.9050e"]]},{"id":"ba279daa.336ec","type":"change","z":"c2257952.d93408","name":"hue","rules":[{"t":"move","p":"payload[0].value.Image.hue","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"hue","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2170,"y":1680,"wires":[[]]},{"id":"b531b1c5.b51e9","type":"change","z":"c2257952.d93408","name":"hue","rules":[{"t":"move","p":"payload[5].value.Image.hue","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"hue","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2170,"y":1640,"wires":[[]]},{"id":"2459cc57.7b7564","type":"link in","z":"c2257952.d93408","name":"rotation","links":["6e70e5b3.a6b4cc"],"x":2035,"y":1640,"wires":[["b531b1c5.b51e9"]]},{"id":"c3aa48a5.c150c8","type":"change","z":"c2257952.d93408","name":"saturation","rules":[{"t":"move","p":"payload[0].value.Image.saturation","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"saturation","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2180,"y":1760,"wires":[[]]},{"id":"ba77eabb.4dc318","type":"change","z":"c2257952.d93408","name":"saturation","rules":[{"t":"move","p":"payload[5].value.Image.saturation","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"saturation","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2180,"y":1720,"wires":[[]]},{"id":"63f77434.f1de5c","type":"link in","z":"c2257952.d93408","name":"rotation","links":["6e70e5b3.a6b4cc"],"x":2035,"y":1720,"wires":[["ba77eabb.4dc318"]]},{"id":"ffcefe4c.9c493","type":"change","z":"c2257952.d93408","name":"sharpen","rules":[{"t":"move","p":"payload[0].value.Image.sharpen","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"sharpen","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2180,"y":1840,"wires":[[]]},{"id":"56f0ab96.3beee4","type":"change","z":"c2257952.d93408","name":"sharpen","rules":[{"t":"move","p":"payload[5].value.Image.sharpen","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"sharpen","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2180,"y":1800,"wires":[[]]},{"id":"25716319.79532c","type":"link in","z":"c2257952.d93408","name":"rotation","links":["6e70e5b3.a6b4cc"],"x":2035,"y":1800,"wires":[["56f0ab96.3beee4"]]},{"id":"b7f34189.2d6e5","type":"http request","z":"c2257952.d93408","name":"api.cgi","method":"POST","ret":"obj","paytoqs":"query","url":"http://{{IP}}/api.cgi?/api.cgi?cmd=PtzCtrl&user={{USER}}&password={{PASS}}","tls":"","persist":false,"proxy":"","authType":"","x":2010,"y":1520,"wires":[["335815d9.50986a","bf2896d8.0a3298","ba279daa.336ec","c3aa48a5.c150c8","ffcefe4c.9c493","43e0c516.3fedac"]]},{"id":"a1b4ae66.cbd68","type":"switch","z":"c2257952.d93408","name":"","property":"payload[0].value.rspCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1295,"y":760,"wires":[["85fdc2ae.06a41","3cfd72fb.cc78fe"]],"l":false},{"id":"8b15fd3b.191db","type":"delay","z":"c2257952.d93408","name":"Limit","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1250,"y":1040,"wires":[["5399c2d7.e2fa3c"]]},{"id":"1910ae68.4abfe2","type":"comment","z":"c2257952.d93408","name":"Status","info":"","x":70,"y":300,"wires":[]},{"id":"b2172840.724d08","type":"comment","z":"c2257952.d93408","name":"Polling","info":"","x":130,"y":40,"wires":[]},{"id":"c6144eda.61265","type":"switch","z":"c2257952.d93408","name":"${POLL}","property":"POLL","propertyType":"env","rules":[{"t":"neq","v":"0","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":740,"y":220,"wires":[["6b5130ac.33f73"],["6b5130ac.33f73"]]},{"id":"8da172cd.9c81a","type":"switch","z":"c2257952.d93408","name":"DEBUG","property":"DEBUG","propertyType":"env","rules":[{"t":"true"}],"checkall":"false","repair":false,"outputs":1,"x":1420,"y":560,"wires":[["567cc965.7d7c68"]]},{"id":"429ff811.1cb3f8","type":"switch","z":"c2257952.d93408","name":"DEBUG","property":"DEBUG","propertyType":"env","rules":[{"t":"true"}],"checkall":"false","repair":false,"outputs":1,"x":1295,"y":820,"wires":[["897fdd69.a73a"]],"icon":"font-awesome/fa-bug","l":false},{"id":"8bbebe89.74e8f","type":"debug","z":"c2257952.d93408","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2310,"y":1440,"wires":[]},{"id":"43e0c516.3fedac","type":"switch","z":"c2257952.d93408","name":"DEBUG","property":"DEBUG","propertyType":"env","rules":[{"t":"true"}],"checkall":"false","repair":false,"outputs":1,"x":2180,"y":1440,"wires":[["8bbebe89.74e8f"]]},{"id":"54ae5b3a.8bdad4","type":"change","z":"c2257952.d93408","name":"Value","rules":[{"t":"set","p":"NameEnable","pt":"flow","to":"payload","tot":"msg"},{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2390,"y":1260,"wires":[[]]},{"id":"79891ade.159564","type":"link in","z":"c2257952.d93408","name":"rotation","links":["6e70e5b3.a6b4cc"],"x":2035,"y":1260,"wires":[["ec6ca582.ab7928"]]},{"id":"ec6ca582.ab7928","type":"change","z":"c2257952.d93408","name":"NameEnable","rules":[{"t":"move","p":"payload[3].value.Osd.osdChannel.enable","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2190,"y":1260,"wires":[["54ae5b3a.8bdad4"]]},{"id":"dcd7931.434bc7","type":"change","z":"c2257952.d93408","name":"NameEnable","rules":[{"t":"move","p":"payload[0].value.Osd.osdChannel.enable","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2190,"y":1300,"wires":[["54ae5b3a.8bdad4"]]},{"id":"48abe552.cbe67c","type":"change","z":"c2257952.d93408","name":"Value","rules":[{"t":"set","p":"osdTimeEnable","pt":"flow","to":"payload","tot":"msg"},{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2390,"y":1340,"wires":[[]]},{"id":"dd323730.cbe1a8","type":"link in","z":"c2257952.d93408","name":"rotation","links":["6e70e5b3.a6b4cc"],"x":2035,"y":1340,"wires":[["edd2b8f0.a86e18"]]},{"id":"edd2b8f0.a86e18","type":"change","z":"c2257952.d93408","name":"osdTimeEnable","rules":[{"t":"move","p":"payload[3].value.Osd.osdTime.enable","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2200,"y":1340,"wires":[["48abe552.cbe67c"]]},{"id":"d777cbcf.5740b8","type":"change","z":"c2257952.d93408","name":"osdTimeEnable","rules":[{"t":"move","p":"payload[0].value.Osd.osdTime.enable","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2200,"y":1380,"wires":[["48abe552.cbe67c"]]},{"id":"a6b8bd38.94ee","type":"template","z":"c2257952.d93408","name":"SetOsdTimeEnable","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"[\n    {\n        \"cmd\": \"SetOsd\",\n        \"action\": 0,\n        \"param\": {\n            \"Osd\": {\n                \"channel\": 0,\n                \"osdTime\": {\n                    \"enable\": {{payload}}\n                }\n            }\n        }\n    }\n]","output":"str","x":950,"y":1420,"wires":[["6e7e5daa.f49204"]]},{"id":"f24d8fe.c808a7","type":"change","z":"c2257952.d93408","name":"Value","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1420,"wires":[["a6b8bd38.94ee"]]},{"id":"77e9adbd.734fb4","type":"template","z":"c2257952.d93408","name":"SetOsdNameEnable","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"[\n    {\n        \"cmd\": \"SetOsd\",\n        \"action\": 0,\n        \"param\": {\n            \"Osd\": {\n                \"channel\": 0,\n                \"osdChannel\": {\n                    \"enable\": {{payload}}\n                }\n            }\n        }\n    }\n]","output":"str","x":940,"y":1460,"wires":[["6e7e5daa.f49204"]]},{"id":"4a607866.100238","type":"change","z":"c2257952.d93408","name":"Value","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1460,"wires":[["77e9adbd.734fb4"]]},{"id":"7418da1f.0893b4","type":"change","z":"c2257952.d93408","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":120,"wires":[["e21e2633.ed4aa8","182de4ab.769f5b","6cf06fa4.e9efb"]]},{"id":"95c26682.b5a798","type":"change","z":"c2257952.d93408","name":"Start","rules":[{"t":"set","p":"topic","pt":"msg","to":"Poll","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":220,"wires":[["80adfc9b.0f676","c6144eda.61265"]]},{"id":"eef329c2.2aec28","type":"link in","z":"c2257952.d93408","name":"Stop","links":["cdce413b.748b1"],"x":55,"y":120,"wires":[["7418da1f.0893b4"]]},{"id":"ba2ab404.96f2f8","type":"link in","z":"c2257952.d93408","name":"Start","links":["d4efa8e1.6b8248","67dfb237.f167ac"],"x":55,"y":220,"wires":[["95c26682.b5a798"]]},{"id":"cdce413b.748b1","type":"link out","z":"c2257952.d93408","name":"Stop","links":["eef329c2.2aec28"],"x":315,"y":940,"wires":[]},{"id":"d4efa8e1.6b8248","type":"link out","z":"c2257952.d93408","name":"Start","links":["ba2ab404.96f2f8"],"x":315,"y":980,"wires":[]},{"id":"3350f47a.cbf3fc","type":"switch","z":"c2257952.d93408","name":"Start","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Stop","vt":"str"},{"t":"eq","v":"Start","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":210,"y":960,"wires":[["cdce413b.748b1"],["d4efa8e1.6b8248"]]},{"id":"182de4ab.769f5b","type":"function","z":"c2257952.d93408","name":"Status","func":"msg.payload = {fill:\"grey\",shape:\"dot\",text:\"Stop\"};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":120,"wires":[["45d90611.74a908"]]},{"id":"45d90611.74a908","type":"link out","z":"c2257952.d93408","name":"Status","links":["1cae14ae.13cd8b"],"x":895,"y":120,"wires":[]},{"id":"adb16af3.9c7d68","type":"change","z":"c2257952.d93408","name":"Offline","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":420,"wires":[["ecc883b2.31528"]]},{"id":"ecc883b2.31528","type":"link out","z":"c2257952.d93408","name":"ON/OFFLINE","links":["b0165686.52e628"],"x":1075,"y":420,"wires":[]},{"id":"3cfd72fb.cc78fe","type":"change","z":"c2257952.d93408","name":"Online","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1410,"y":740,"wires":[["904dd681.6051d8"]]},{"id":"904dd681.6051d8","type":"link out","z":"c2257952.d93408","name":"ON/OFFLINE","links":["b0165686.52e628"],"x":1515,"y":740,"wires":[]},{"id":"b0165686.52e628","type":"link in","z":"c2257952.d93408","name":"","links":["ecc883b2.31528","904dd681.6051d8","20dbd695.78a4aa","ed17657f.2e8458"],"x":2035,"y":700,"wires":[[]]},{"id":"e845b5b6.3b3c68","type":"switch","z":"c2257952.d93408","name":"error","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Error: connect EHOSTUNREACH","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1410,"y":620,"wires":[["70aebd97.2405d4"],["6e70e5b3.a6b4cc","e5a97566.8582c8","3cfd72fb.cc78fe"]]},{"id":"f70e7173.0e156","type":"change","z":"c2257952.d93408","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":80,"wires":[["e21e2633.ed4aa8"]]},{"id":"5fbb07d.c5b13f8","type":"delay","z":"c2257952.d93408","name":"5min","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":750,"y":80,"wires":[["67dfb237.f167ac"]]},{"id":"67dfb237.f167ac","type":"link out","z":"c2257952.d93408","name":"5min","links":["ba2ab404.96f2f8"],"x":895,"y":80,"wires":[]},{"id":"34b583aa.fd0c6c","type":"link in","z":"c2257952.d93408","name":"error","links":["bc187990.ba0708","70aebd97.2405d4"],"x":55,"y":80,"wires":[["ed24fae4.935658"]]},{"id":"bc187990.ba0708","type":"link out","z":"c2257952.d93408","name":"error","links":["34b583aa.fd0c6c"],"x":935,"y":500,"wires":[]},{"id":"70aebd97.2405d4","type":"link out","z":"c2257952.d93408","name":"error","links":["34b583aa.fd0c6c"],"x":1555,"y":600,"wires":[]},{"id":"ed24fae4.935658","type":"delay","z":"c2257952.d93408","name":"Limit","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"60","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":150,"y":80,"wires":[["f70e7173.0e156","5fbb07d.c5b13f8"]]},{"id":"6cf06fa4.e9efb","type":"change","z":"c2257952.d93408","name":"Offline","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":40,"wires":[["20dbd695.78a4aa"]]},{"id":"20dbd695.78a4aa","type":"link out","z":"c2257952.d93408","name":"ON/OFFLINE","links":["b0165686.52e628"],"x":895,"y":40,"wires":[]},{"id":"845cc99d.ddaa58","type":"template","z":"c2257952.d93408","name":"GetZoomFocus","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"[\n    {\n        \"cmd\": \"GetZoomFocus\",\n        \"action\": 1,\n        \"param\": {\n            \"channel\": 0\n        }\n    }\n]","output":"str","x":1700,"y":1960,"wires":[["33123507.a5152a"]]},{"id":"33123507.a5152a","type":"change","z":"c2257952.d93408","name":"Config","rules":[{"t":"set","p":"IP","pt":"msg","to":"IP","tot":"env"},{"t":"set","p":"USER","pt":"msg","to":"USER","tot":"env"},{"t":"set","p":"PASS","pt":"msg","to":"PASS","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1870,"y":1960,"wires":[["9b0c0788.ced558"]]},{"id":"9b0c0788.ced558","type":"http request","z":"c2257952.d93408","name":"api.cgi","method":"POST","ret":"obj","paytoqs":"query","url":"http://{{IP}}/api.cgi?/api.cgi?cmd=PtzCtrl&user={{USER}}&password={{PASS}}","tls":"","persist":false,"proxy":"","authType":"","x":2010,"y":1960,"wires":[["75c59e1.8ccc06","43e0c516.3fedac"]]},{"id":"e9d32c83.b0c11","type":"link in","z":"c2257952.d93408","name":"rotation","links":["6e70e5b3.a6b4cc"],"x":2035,"y":1920,"wires":[["1ec51ad9.154be5"]]},{"id":"1ec51ad9.154be5","type":"change","z":"c2257952.d93408","name":"Zoom","rules":[{"t":"move","p":"payload[7].value.ZoomFocus.zoom.pos","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"Zoom","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2170,"y":1920,"wires":[[]]},{"id":"75c59e1.8ccc06","type":"change","z":"c2257952.d93408","name":"Zoom","rules":[{"t":"move","p":"payload[0].value.ZoomFocus.zoom.pos","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"Zoom","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2170,"y":1960,"wires":[[]]},{"id":"362da69a.449f4a","type":"inject","z":"c2257952.d93408","name":"SetAlarmOn","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"cmd\":\"SetAlarm\",\"action\":1,\"param\":{\"Alarm\":{\"channel\":0,\"type\":\"md\",\"scope\":{\"table\":\"111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111\"}}}}]","payloadType":"json","x":1270,"y":1200,"wires":[[]]},{"id":"f6993cc3.b24f9","type":"inject","z":"c2257952.d93408","name":"SetAlarmOff","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"cmd\":\"SetAlarm\",\"action\":1,\"param\":{\"Alarm\":{\"channel\":0,\"type\":\"md\",\"scope\":{\"table\":\"000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000\"}}}}]","payloadType":"json","x":1270,"y":1160,"wires":[[]]},{"id":"bbb080f6.4d451","type":"inject","z":"c2257952.d93408","name":"GetAlarm","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"cmd\":\"GetAlarm\",\"action\":1,\"param\":{\"Alarm\":{\"channel\":0,\"type\":\"md\"}}}]","payloadType":"json","x":1260,"y":1120,"wires":[[]]},{"id":"a69be7d7.be5ec8","type":"change","z":"c2257952.d93408","name":"Value","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1260,"wires":[["c8d735ac.2fe128","20550243.65f70e"]]},{"id":"c8d735ac.2fe128","type":"template","z":"c2257952.d93408","d":true,"name":"SetAlarm","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"[\n    {\n        \"cmd\": \"SetAlarm\",\n        \"action\": 1,\n        \"param\": {\n            \"Alarm\": {\n                \"channel\": 0,\n                \"type\": \"md\",\n                \"scope\": {\n                    \"table\": \"{{payload}}\"\n                }\n            }\n        }\n    }\n]","output":"str","x":980,"y":1300,"wires":[["6e7e5daa.f49204"]]},{"id":"31fa8f75.5ec5e","type":"template","z":"c2257952.d93408","name":"GetAlarm","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"[\n    {\n        \"cmd\": \"GetAlarm\",\n        \"action\": 1,\n        \"param\": {\n            \"Alarm\": {\n                \"channel\": 0,\n                \"type\": \"md\"\n            }\n        }\n    }\n]","output":"str","x":1680,"y":2100,"wires":[["48427515.7041bc"]]},{"id":"48427515.7041bc","type":"change","z":"c2257952.d93408","name":"Config","rules":[{"t":"set","p":"IP","pt":"msg","to":"IP","tot":"env"},{"t":"set","p":"USER","pt":"msg","to":"USER","tot":"env"},{"t":"set","p":"PASS","pt":"msg","to":"PASS","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1870,"y":2100,"wires":[["af1098ae.fe9048"]]},{"id":"af1098ae.fe9048","type":"http request","z":"c2257952.d93408","name":"api.cgi","method":"POST","ret":"obj","paytoqs":"query","url":"http://{{IP}}/api.cgi?/api.cgi?cmd=PtzCtrl&user={{USER}}&password={{PASS}}","tls":"","persist":false,"proxy":"","authType":"","x":2010,"y":2100,"wires":[["57c3e7c7.c15928","43e0c516.3fedac"]]},{"id":"55f11165.f12da","type":"link in","z":"c2257952.d93408","d":true,"name":"rotation","links":["6e70e5b3.a6b4cc"],"x":2035,"y":2060,"wires":[["e1be2236.ddef1"]]},{"id":"e1be2236.ddef1","type":"change","z":"c2257952.d93408","name":"Motion","rules":[{"t":"move","p":"payload[9].value.Alarm.scope.table","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2170,"y":2060,"wires":[["43ed905a.069a9"]]},{"id":"57c3e7c7.c15928","type":"change","z":"c2257952.d93408","name":"Motion","rules":[{"t":"move","p":"payload[0].value.Alarm.scope.table","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2170,"y":2100,"wires":[["43ed905a.069a9"]]},{"id":"ce795e45.e51b7","type":"change","z":"c2257952.d93408","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2510,"y":2080,"wires":[[]]},{"id":"43ed905a.069a9","type":"switch","z":"c2257952.d93408","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"1","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":2360,"y":2100,"wires":[["ce795e45.e51b7"],["9b33265b.5a3248"]]},{"id":"9b33265b.5a3248","type":"change","z":"c2257952.d93408","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2510,"y":2120,"wires":[[]]},{"id":"8e4b2c90.7b2c5","type":"switch","z":"c2257952.d93408","name":"error","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Error","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":2550,"y":1120,"wires":[[],[]]},{"id":"ffb00a57.e731d8","type":"change","z":"c2257952.d93408","name":"Config","rules":[{"t":"set","p":"IP","pt":"msg","to":"IP","tot":"env"},{"t":"set","p":"USER","pt":"msg","to":"USER","tot":"env"},{"t":"set","p":"PASS","pt":"msg","to":"PASS","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":1080,"wires":[["5399c2d7.e2fa3c"]],"icon":"node-red/cog.svg"},{"id":"80b2a3c6.7ac9b","type":"delay","z":"c2257952.d93408","name":"Limit","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":690,"y":980,"wires":[["480598f6.a1a3e8"]]},{"id":"423167c1.dbd948","type":"inject","z":"c2257952.d93408","name":"SetMdAlarm","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"cmd\":\"SetMdAlarm\",\"action\":0,\"param\":{\"MdAlarm\":{\"channel\":0,\"scope\":{\"table\":\"111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111\"},\"newSens\":{\"sensDef\":26}}}}]","payloadType":"json","x":1270,"y":1240,"wires":[[]]},{"id":"f6b7af3c.f7107","type":"function","z":"c2257952.d93408","name":"sensDef","func":"msg.payload = [{\"cmd\": \"SetMdAlarm\",\"action\": 0,\"param\": {\"MdAlarm\": {\"channel\": 0,\"useNewSens\": 1,\"newSens\": {\"sensDef\":msg.payload}}}}];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":1340,"wires":[["6e7e5daa.f49204"]]},{"id":"20550243.65f70e","type":"template","z":"c2257952.d93408","name":"SetMdAlarm","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"[\n    {\n        \"cmd\": \"SetMdAlarm\",\n        \"action\": 0,\n        \"param\": {\n            \"MdAlarm\": {\n                \"channel\": 0,\n                \"scope\": {\n                    \"table\": \"{{payload}}\"\n                }\n            }\n        }\n    }\n]","output":"str","x":970,"y":1260,"wires":[["6e7e5daa.f49204"]]},{"id":"cd904d93.d247a","type":"template","z":"c2257952.d93408","name":"GetMdAlarm","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"[\n    {\n        \"cmd\": \"GetMdAlarm\",\n        \"action\": 1,\n        \"param\": {\n            \"channel\": 0\n        }\n    }\n]","output":"str","x":1690,"y":2180,"wires":[["2a5a950a.4ea27a"]]},{"id":"2a5a950a.4ea27a","type":"change","z":"c2257952.d93408","name":"Config","rules":[{"t":"set","p":"IP","pt":"msg","to":"IP","tot":"env"},{"t":"set","p":"USER","pt":"msg","to":"USER","tot":"env"},{"t":"set","p":"PASS","pt":"msg","to":"PASS","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1870,"y":2180,"wires":[["13b171e9.e403be"]]},{"id":"13b171e9.e403be","type":"http request","z":"c2257952.d93408","name":"api.cgi","method":"POST","ret":"obj","paytoqs":"query","url":"http://{{IP}}/api.cgi?/api.cgi?cmd=PtzCtrl&user={{USER}}&password={{PASS}}","tls":"","persist":false,"proxy":"","authType":"","x":2010,"y":2180,"wires":[["814ecb46.6362f8","b93bd22a.5855f","43e0c516.3fedac"]]},{"id":"379c761d.b77f9a","type":"link in","z":"c2257952.d93408","name":"rotation","links":["6e70e5b3.a6b4cc"],"x":2035,"y":2140,"wires":[["1420f461.07a21c"]]},{"id":"1420f461.07a21c","type":"change","z":"c2257952.d93408","name":"Motion","rules":[{"t":"move","p":"payload[10].value.MdAlarm.scope.table","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"Motion","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2170,"y":2140,"wires":[["c30ce6bd.08a7c8"]]},{"id":"814ecb46.6362f8","type":"change","z":"c2257952.d93408","name":"Motion","rules":[{"t":"move","p":"payload[0].value.MdAlarm.scope.table","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"Motion","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2170,"y":2180,"wires":[["c30ce6bd.08a7c8"]]},{"id":"1c27b913.777187","type":"change","z":"c2257952.d93408","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2510,"y":2160,"wires":[[]]},{"id":"c30ce6bd.08a7c8","type":"switch","z":"c2257952.d93408","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"1","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":2360,"y":2180,"wires":[["1c27b913.777187"],["ad1378e4.c37e58"]]},{"id":"ad1378e4.c37e58","type":"change","z":"c2257952.d93408","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2510,"y":2200,"wires":[[]]},{"id":"cb4f3d04.5d75a","type":"link in","z":"c2257952.d93408","name":"rotation","links":["6e70e5b3.a6b4cc"],"x":2035,"y":2280,"wires":[["677c71ca.38b34"]]},{"id":"677c71ca.38b34","type":"change","z":"c2257952.d93408","name":"sensDef","rules":[{"t":"move","p":"payload[10].value.MdAlarm.newSens.sensDef","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"sensDef","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2180,"y":2280,"wires":[[]]},{"id":"b93bd22a.5855f","type":"change","z":"c2257952.d93408","name":"sensDef","rules":[{"t":"move","p":"payload[0].value.MdAlarm.newSens.sensDef","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"sensDef","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2180,"y":2240,"wires":[[]]},{"id":"b043f1de.60e18","type":"switch","z":"c2257952.d93408","name":"bright","property":"bright","propertyType":"flow","rules":[{"t":"neq","v":"payload","vt":"msg"}],"checkall":"false","repair":false,"outputs":1,"x":810,"y":1060,"wires":[["fe2d4746.432f68"]]},{"id":"74216252.6e292c","type":"switch","z":"c2257952.d93408","name":"contrast","property":"contrast","propertyType":"flow","rules":[{"t":"neq","v":"payload","vt":"msg"}],"checkall":"false","repair":false,"outputs":1,"x":820,"y":1100,"wires":[["3a51dafd.025736"]]},{"id":"cfbdc4c2.ee6f68","type":"switch","z":"c2257952.d93408","name":"hue","property":"hue","propertyType":"flow","rules":[{"t":"neq","v":"payload","vt":"msg"}],"checkall":"false","repair":false,"outputs":1,"x":810,"y":1140,"wires":[["3a876fb7.9b23"]]},{"id":"71f6eb95.622b04","type":"switch","z":"c2257952.d93408","name":"saturation","property":"saturation","propertyType":"flow","rules":[{"t":"neq","v":"payload","vt":"msg"}],"checkall":"false","repair":false,"outputs":1,"x":820,"y":1180,"wires":[["228b8376.8f98fc"]]},{"id":"f7f3f093.790e","type":"switch","z":"c2257952.d93408","name":"sharpen","property":"sharpen","propertyType":"flow","rules":[{"t":"neq","v":"payload","vt":"msg"}],"checkall":"false","repair":false,"outputs":1,"x":820,"y":1220,"wires":[["a5ed4f98.6a59e"]]},{"id":"862fe22e.ff648","type":"switch","z":"c2257952.d93408","name":"sensDef","property":"sensDef","propertyType":"flow","rules":[{"t":"neq","v":"payload","vt":"msg"}],"checkall":"false","repair":false,"outputs":1,"x":820,"y":1340,"wires":[["f6b7af3c.f7107"]]},{"id":"4db102b2.c0cd9c","type":"range","z":"c2257952.d93408","minin":"1","maxin":"50","minout":"1","maxout":"50","action":"clamp","round":true,"property":"payload","name":"1- 50","x":690,"y":1340,"wires":[["862fe22e.ff648"]]},{"id":"5527c05b.d5369","type":"template","z":"c2257952.d93408","name":"SetFtpEnable","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"[\n    {\n        \"cmd\": \"SetFtp\",\n        \"action\": 0,\n        \"param\": {\n            \"Ftp\": {\n                \"schedule\": {\n                    \"enable\": {{payload}},\n                    \"table\": \"111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111\"\n                }\n            }\n        }\n    }\n]","output":"str","x":960,"y":1500,"wires":[["6e7e5daa.f49204"]]},{"id":"c4d97cf1.7373d","type":"change","z":"c2257952.d93408","name":"Value","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1500,"wires":[["5527c05b.d5369"]]},{"id":"244a4b6c.4533c4","type":"change","z":"c2257952.d93408","name":"Config","rules":[{"t":"set","p":"IP","pt":"msg","to":"IP","tot":"env"},{"t":"set","p":"USER","pt":"msg","to":"USER","tot":"env"},{"t":"set","p":"PASS","pt":"msg","to":"PASS","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1035,"y":1600,"wires":[["ba163f11.46ed7"]],"icon":"node-red/cog.svg","l":false},{"id":"371921af.ddb3be","type":"delay","z":"c2257952.d93408","name":"Limit","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":690,"y":1600,"wires":[["244a4b6c.4533c4"]]},{"id":"58f862e.b43b09c","type":"debug","z":"c2257952.d93408","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1250,"y":1600,"wires":[],"icon":"font-awesome/fa-bug"},{"id":"ba163f11.46ed7","type":"http request","z":"c2257952.d93408","name":"api.cgi","method":"POST","ret":"obj","paytoqs":"query","url":"http://{{IP}}/api.cgi?/api.cgi?cmd=PtzCtrl&user={{USER}}&password={{PASS}}","tls":"","persist":false,"proxy":"","authType":"","x":1135,"y":1600,"wires":[["58f862e.b43b09c"]],"l":false},{"id":"63ad9087.6a7a4","type":"template","z":"c2257952.d93408","name":"GetFtp","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"[\n    {\n        \"cmd\": \"GetFtp\",\n        \"action\": 1,\n        \"param\": {}\n    }\n]","output":"str","x":1670,"y":2420,"wires":[["a858ba9.6c28b48"]]},{"id":"bd13237a.3473a","type":"http request","z":"c2257952.d93408","name":"api.cgi","method":"POST","ret":"obj","paytoqs":"query","url":"http://{{IP}}/api.cgi?/api.cgi?cmd=PtzCtrl&user={{USER}}&password={{PASS}}","tls":"","persist":false,"proxy":"","authType":"","x":2010,"y":2420,"wires":[["ab75103a.1c513","43e0c516.3fedac"]]},{"id":"a858ba9.6c28b48","type":"change","z":"c2257952.d93408","name":"Config","rules":[{"t":"set","p":"IP","pt":"msg","to":"IP","tot":"env"},{"t":"set","p":"USER","pt":"msg","to":"USER","tot":"env"},{"t":"set","p":"PASS","pt":"msg","to":"PASS","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1870,"y":2420,"wires":[["bd13237a.3473a"]]},{"id":"ab75103a.1c513","type":"change","z":"c2257952.d93408","name":"ftp","rules":[{"t":"move","p":"payload[0].value.Ftp.schedule.enable","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2170,"y":2420,"wires":[["b07feef5.acac8"]]},{"id":"61a40d81.47e974","type":"change","z":"c2257952.d93408","name":"ftp","rules":[{"t":"move","p":"payload[11].value.Ftp.schedule.enable","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2170,"y":2380,"wires":[["b07feef5.acac8"]]},{"id":"b07feef5.acac8","type":"change","z":"c2257952.d93408","name":"Value","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2370,"y":2380,"wires":[[]]},{"id":"1eea0b9f.441644","type":"link in","z":"c2257952.d93408","name":"rotation","links":["6e70e5b3.a6b4cc"],"x":2035,"y":2380,"wires":[["61a40d81.47e974"]]},{"id":"ca2dbf4.0e8cf4","type":"delay","z":"c2257952.d93408","name":"","pauseType":"delay","timeout":"400","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1455,"y":1040,"wires":[["5d0bd77c.c24378"]],"l":false},{"id":"62a7d3d8.71d81c","type":"switch","z":"c2257952.d93408","name":"","property":"USER","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"false","repair":false,"outputs":1,"x":295,"y":1020,"wires":[["62df0b8e.05b884"]],"icon":"font-awesome/fa-user-circle","l":false},{"id":"62df0b8e.05b884","type":"switch","z":"c2257952.d93408","name":"","property":"PASS","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"false","repair":false,"outputs":1,"x":335,"y":1020,"wires":[["5ae7ec24.08bd94"]],"icon":"font-awesome/fa-asterisk","l":false},{"id":"6c35db72.66f8e4","type":"switch","z":"c2257952.d93408","name":"","property":"USER","propertyType":"msg","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":175,"y":1220,"wires":[["7cd0462f.7e2128"],["e97c41ba.a9978"]],"icon":"font-awesome/fa-user-circle","l":false},{"id":"7cd0462f.7e2128","type":"switch","z":"c2257952.d93408","name":"","property":"PASS","propertyType":"msg","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":275,"y":1220,"wires":[["513cc921.23f758"],["1801b297.170a4d"]],"icon":"font-awesome/fa-asterisk","l":false},{"id":"1801b297.170a4d","type":"function","z":"c2257952.d93408","name":"Status","func":"msg.payload = {fill:\"red\",shape:\"dot\",text:\"kein Passwort in der Config!\"};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":1240,"wires":[["2c3460dd.aff61"]]},{"id":"2c3460dd.aff61","type":"link out","z":"c2257952.d93408","name":"Status","links":["1cae14ae.13cd8b"],"x":515,"y":1240,"wires":[]},{"id":"e97c41ba.a9978","type":"function","z":"c2257952.d93408","name":"Status","func":"msg.payload = {fill:\"red\",shape:\"dot\",text:\"kein User in der Config!\"};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":1280,"wires":[["4a72691f.29e358"]]},{"id":"4a72691f.29e358","type":"link out","z":"c2257952.d93408","name":"Status","links":["1cae14ae.13cd8b"],"x":515,"y":1280,"wires":[]},{"id":"46038a0f.3202e4","type":"subflow:c2257952.d93408","z":"d7561e52.845cc","name":"","env":[],"x":1820,"y":560,"wires":[[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[]]}]
